langchain
langgraph
langchain-community
langchain-openai
langchain-google-genai
langchain-huggingface
langgraph-checkpoint-sqlite
google-generativeai
faiss-cpu
chromadb
sentence-transformers
